body {
  background: #f5f5dc;
  margin: 0 auto 40px;
  max-width: 800px;
}

header {
  text-align: center;
  margin: 20px;
}

h1 {
  font-family: "Arvo", serif;
  font-size: 3em;
}

.primstav {
  background-color: rgb(204, 153, 0);
  margin: 0 auto;
  width: 200px;
}

.primstav {
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.primstav:before, .primstav:after {
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.primstav:after {
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}  

.day {
  border-left: 1px solid #000000;
  font-family: "PT Sans", Verdana, Helvetica, Arial, sans-serif; 
  height: 25px; 
  margin-left: 10px;
  position: relative;
}

.day::before {
  background-color: #000000;
  content: ""; 
  left: 0;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 10px;
}

.day.hover::before {
  height: 2px;
}

.day:nth-child(7n+1)::before {
  left: -11px;
  width: 21px;
}

.day h2 {
  display: none;
}

.day.hover:hover h2 {
  display: block;
  left: 40px;
  position: absolute;
}
