body {
  background: #f5f5dc;
  font-family: "PT Sans", Verdana, Helvetica, Arial, sans-serif; 
  margin: 0 auto 20px;
  max-width: 800px;
  text-align: center;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  margin: 20px;
}

h1 {
  font-family: "chunkfiveroman", serif;
  font-size: 3em;
  font-weight: normal;
}

h2 { 
  font-size: 2.25em;
  margin-bottom: 0.2em;
} 

h3 { font-size: 1.5em; } 

.primstav {
  background-color: rgb(204, 153, 0);
  border-radius: 7em;
  box-shadow: 10px 5px 27px -6px rgba(0,0,0,0.8);
  margin: 0 auto 25px;
  padding: 7em 0;
  position:relative;       
  width: 200px;
}

.day {
  height: 20px; 
  position: relative;
}

.day::before {
  background-color: #000000;
  content: ""; 
  left: 0;
  height: 2px;
  position: absolute;
  top: 50%;
  width: 20px;
}

.day.hover::before {
  height: 4px;
}

.day:nth-child(7n+1)::before {
  width: 30px;
}

.day article {
  background: #fff;
  border: 1px solid black;
  border-radius: 10px;
  bottom: 20px;
  display: none;
  left: -30px;
  padding: 10px;
  position: absolute;
  right: -30px;
}

.day.hover:hover article {
  display: block;
}
