---
layout: default
title: Primstav 
---
<header class="header">
  <div class="header-content">
    <h1>Primstav</h1>
  </div>

  <a href="#" class="activate-summer">summer</a>
  <span>/</span>
  <a href="#" class="activate-winter">winter</a>
</header>
  
<ul class="primstav summer">
  {% for day in site.data.summer %}
    {% include day.html %}
  {% endfor %}
</ul>

<ul class="primstav winter">
  {% for day in site.data.winter %}
    {% include day.html %}
  {% endfor %}
</ul>

<footer>
  <span class="authors">By <a href="https://github.com/fredva">fredrik</a> and <a href="https://github.com/tobiasvl">tobias</a>.</span>
</footer>

