---
layout: default
title: Primstav 
---
<header class="header">
  <div class="header-content">
    <h1>Primstav</h1>
  </div>
</header>
  
<ul class="primstav summer">
  {% for day in site.data.summer %}
    {% if day.name %}
      <li class="day hover">
        <article>
          <h2>{{ day.name }}</h2>
          <h3>{{ day.date }}</h2>
        </article>
      </li>
    {% else %}
      <li class="day">
        <article>
          <h2>{{ day.date }}</h2>
        </article>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<ul class="primstav winter">
  {% for day in site.data.winter %}
    {% if day.name %}
      <li class="day hover">
        <article>
          <h2>{{ day.name }}</h2>
          <h3>{{ day.date }}</h2>
        </article>
      </li>
    {% else %}
      <li class="day">
        <article>
          <h2>{{ day.date }}</h2>
        </article>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<footer>
  <span class="authors">By <a href="https://github.com/fredva">fredrik</a> and <a href="https://github.com/tobiasvl">tobias</a>.</span>
</footer>

